@media (min-width: 1200px) {
    .container {
      max-width: 960px;
    }
}

.fluid-box{
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #006699;
}

.fluid-box-inner{
    margin: 0 auto;
    padding: 10px;
    background-color: #006699;
}

.title {
    margin-bottom: 15px;
    font-size: 3em;
    line-height: 0.95em;
    font-weight: bold;
    color: #FFAB91;
    text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
}

.flex_info {
    display: flex;
    margin: 0 10px 10px 10px;
}

h5 {
    font-weight: bold;
    margin: 15px 0 0 10px;
    margin-bottom: 0px;
}

.kana {
    margin: 0 10px 10px 10px;
    border-bottom: solid 1px black;
}

img {
    width: 350px;
    height: 300px;
}

.enclose {
    border: solid 1px black;
    padding: 3px;
    background-color: #006699;
    color: white;
}

.line-bottom {
    border-bottom: solid 1px black;
}

.vertical {
    flex-direction: column;
}

p {
    margin: 20px;
}

caption {
    caption-side: top;
    margin: 5px 15px 13px 15px;
    font-weight: bold;
    color: #FFAB91;
    border-bottom: solid 3px black;
    padding-bottom: 4px;
    text-shadow:1px 1px 0 black, -1px -1px 0 black,
              -1px 1px 0 black, 1px -1px 0 black,
              0px 1px 0 black,  0-1px 0 black,
              -1px 0 0 black, 1px 0 0 black;
}

th {
    width: 160px;
    color: black;
    background-color: #EEEEEE;
}

.table {
    margin-bottom: 0;
}

.table-container {
    border: solid 1px black;
    padding: 0 10px;
    margin: 20px 10px;
}

.center {
    text-align: center;
}

.line-top {
    border-top: dashed 2px #006699;
    margin: 0 calc(50% - 50vw);
    padding: 10px;
    margin-top: 30px;
}